<div>
  <footer>
      <div  class="footer_right">
          <div>
               <a href="https://github.com/GwydionBr/" target="_blank"><img class="icons" src="images/github-mark.png"></a>
          </div>
          <div>
              <a href="https://www.instagram.com/" target="_blank"><img class="icons" src="images/Instagram_Glyph_Gradient.png"</a>
          </div>
      </div>
      <br>
      <div class="footer_right">
          <a href="https://www.flaticon.com/de/kostenlose-icons/van" title="van Icons">Van Icons erstellt von Freepik - Flaticon</a>
      </div>
  </footer>
</div>

</body>
</html>