<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-icon">
        <a href="/"><img src="images/van.png" alt="Van-Icon" id="header-icon"></a>
    </div >
    <div id="button_header_middle">
        <div>
            <a href="/about"><button class="button_header">About</button></a>
        </div>
        <div>
            <a href="/contact"><button class="button_header">Contact</button></a>
        </div>
    </div>
        

</header>
