<%- include("partials/header.ejs") %>

<div>
<div class="content-container content">
    <div id="first_heading">
        <h1>Welcome to the <span id="main_header">Work and Van-Life Portal</span></h1>
    </div>

    <div class="center">
        <a href="/spots"><button class="button_blue">Just Read</button></a>
    </div>

</div>
    </div>

<%- include("partials/footer.ejs") %>