#first_heading{
    text-align: center;
}

body{
    background-color: #EDF1D6;
    margin: 0; padding: 0;
}

h1{
    text-align: center;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
}

.icons{
    height: 30px;
    margin: 10px;
    align-self: center;
}

#main_header{
    font-weight: bolder;
    color: #609966;
}



#content{
    min-height: calc(600px - 160px);
}

.footer_right{
    display: flex;
    justify-content: flex-end;
}

#header-icon{
    height:80px;
    margin-left: 15px;
}



/*Flex-box*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9DC08B;
    height: 80px;
    width: 100%;
}

#button_header_middle{
    display: flex;
    gap: 20px;
}

footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #9DC08B;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    /*margin: 10px 25%;*/
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-container > *{
    align-items: center;
    width: 70%;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
    flex-direction: column;
    gap: 20px;

}

/*Buttons*/

button{
    transition-duration: 0.4s;
}

.button_header{
    background-color: rgb(73, 105, 137);
    border: none;
    font-size: 18px;
    font-family: "Sedan", serif;
    padding: 5px 10px;
    color: rgb(226, 244, 197);
    border-radius: 8px;
    box-shadow: 0 4px #999;
}

.button_header:hover{
    background-color: #EDF1D6;
    color: black;
}

.button_header:active{
    background-color: #3e8e41;
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

.button_blue{
    background-color: rgb(73, 105, 137);
    border: none;
    font-size: 18px;
    font-family: "Sedan", serif;
    padding: 5px 10px;
    color: rgb(226, 244, 197);
    border-radius: 8px;
    box-shadow: 0 4px #999;
}
.button_blue:hover{
    background-color: #EDF1D6;
    color: black;
}

.button_blue:active{
    background-color: #3e8e41;
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}
